<mat-form-field class="full-width" appearance="fill">
    <mat-label>{{label}}</mat-label>

    <input type="{{type}}" matInput [formControl]="ngControl.control">

    <mat-error *ngIf="ngControl.control.hasError('email') && !ngControl.control.hasError('required')">
        Please enter a valid email address
    </mat-error>

    <mat-error *ngIf="ngControl.control.hasError('required')">
        {{label}} is <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="ngControl.control?.errors?.isMatching">
        Passwords do not match
    </mat-error>

    <mat-error *ngIf="ngControl.control?.errors?.minlength">
        {{label}} must be at least {{ngControl.control.errors.minlength["requiredLength"]}}
    </mat-error>

    <mat-error *ngIf="ngControl.control?.errors?.maxlength">
        {{label}} must be at most {{ngControl.control.errors.maxlength["requiredLength"]}}
    </mat-error>

</mat-form-field>