.icon-img{
    max-width: 4vh;
}

.icon-button{
    border: 0 !important;
    margin: 1vh;
}

.admin-item-search{
    height: 5vh;
    width: 50vh;
    border: 0;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(248, 248, 248);
}

.panel-controls{
    align-items: center;
    /* border-bottom: 2px solid gray; */
}

.item-checkbox{
    transform: scale(1.3);
}

.item-checkbox:hover{
    border: 2px soild red;
}

.item-name-column{
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.manage-point{
    background-color: #343a40;
    color: white;
}

.manage-point:hover{
    color: #ff3d00;
}

.table-div{
    max-height: 450px;
    overflow-y: scroll;
    border: 0;
}

.home-paginator{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 2vh;
    padding-bottom: 2vh;
    background: transparent;
}

.import-export-datasets{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 5vh;
    padding-bottom: 4vh;
    background: transparent;
    display: flex;
}

.import-export-datasets button{
    margin-left: 2vh;
}