<div class="container">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button *ngIf="!uploaded" type="button" class="btn btn-secondary" (click)="modal.close()" aria-label="Close">
            Do it Later
        </button>
        <button *ngIf="uploaded" type="button" class="btn btn-primary" (click)="modal.close()" aria-label="Close">
            Finish
        </button>
    </div>

    <div class="modal-body">

        <div class="row pr-4">
            <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
        </div>

        <div class="row pt-4" *ngIf="uploader?.queue?.length">
            <h3>Upload queue</h3>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader?.options?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-success btn-s m-2"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Upload
                </button>
                <button type="button" class="btn btn-warning btn-s m-2"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        Cancel
                </button>
                <button type="button" class="btn btn-danger btn-s m-2"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        Remove all
                </button>
            </div>

        </div>

    </div>
</div>