<div class="container text-center mt-4">
    <form (submit)="login()" class="" autocomplete="off">
        <div class="my-4 form-group">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="model.username" name="username" type="text">
            </mat-form-field>
        </div>
        <div class="my-4 form-group">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="model.password" name="password" type="password">
            </mat-form-field>
        </div>
        <button class="btn btn-secondary" 
            [disabled]="model.username?.trim() === '' || model.password?.trim() === ''" 
            type="submit">Login</button>
    </form>
</div>