<div class="reset-password-div">
    <form [formGroup]="form" (ngSubmit)="reset()" autocomplete="off">
        <app-text-input 
            [formControl]="form.controls['email']"
            [label]="'Email'"       
            [type]="'email'"
            [email]="true" 
        ></app-text-input>
        
        <app-text-input 
            [formControl]="form.controls['password']"
            [label]="'Password'"       
            [type]="'password'"
        ></app-text-input>

        <app-text-input 
            [formControl]="form.controls['confirmPassword']"
            [label]="'Confirm password'"       
            [type]="'password'"
        ></app-text-input>

        <button mat-raised-button class="" [disabled]="!form.valid" type="submit">Reset</button>
    </form>
</div>