<nav>
    <div class="menu-icon">
        <span (click)="showNavMenu()">#</span>
    </div>

    <div class="logo">
        <a (click)="hideNavMenu()" style="color: inherit; text-decoration: inherit;" routerLink="/" routerLinkActive="active">Rent shop</a>
    </div>

    <div class="nav-items" *ngIf="(accountService.currentUser$ | async)">
        <li><a routerLink="/orders" (click)="hideNavMenu()" routerLinkActive="active">My orders</a></li>
        <li><a routerLink="/profile" (click)="hideNavMenu()" routerLinkActive="active">Profile</a></li>
        <li *appHasRole="'Deliveryman'"><a (click)="hideNavMenu()" routerLink="/deliveries" routerLinkActive="active">Deliveries</a></li>
        <li *appHasRole="'Admin'"><a (click)="hideNavMenu()" routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a style="cursor: pointer;" (click)="hideNavMenu()" (click)="logout()">Logout</a></li>
    </div>

    <div *ngIf="(accountService.currentUser$ | async) === null || (accountService.currentUser$ | async) === undefined" 
        class="nav-items">
        <li><a (click)="hideNavMenu()" routerLink="/regandlog" routerLinkActive="active">Login</a></li>
    </div>

    <div class="cancel-icon">
        <span (click)="hideNavMenu()"><mat-icon>#</mat-icon></span>
    </div>
</nav>


<div class="prevent-everything" *ngIf="busyService.isLoading | async">
    <div class="loading-container">
        <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    </div>
</div>

    <!-- <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
    <div class="cancel-icon">
       <span class="fas fa-times"></span>
    </div>
    <form action="#">
       <input type="search" class="search-data" placeholder="Search" required>
       <button type="submit" class="fas fa-search"></button>
    </form> -->