<div class="container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit unit</h4>
        <button mat-raised-button type="button" class="" color="warn"  (click)="exit()" aria-label="Close">
            Close
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="unitForm" (ngSubmit)="editUnit()" autocomplete="off">
            <app-text-input 
                [formControl]="unitForm.controls['description']"
                [label]="'Description'"       
                [type]="'text'">
            </app-text-input>

            <div class="form-group">
                <label for="point-select">Select point</label>
                <select id="point-select" class="form-select" 
                    [formControl]="unitForm.controls['pointId']" aria-label="Default select example"
                    (change)="setPoint()">
                    <option *ngFor="let point of points" value="{{point.id}}">
                        {{point.country}}, {{point.city}}, {{point.address}}
                    </option>
                    <option value="MANAGE_POINTS">Manage points</option>
                </select>
            </div>

            <button mat-raised-button class="" [disabled]="!unitForm.valid" type="submit">Save</button>
        </form>
    </div>
</div>

