<div class="container">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add location</h4>
            <button mat-raised-button type="button" class="" color="warn"  (click)="exit()" aria-label="Close">
                Close
            </button>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="locationForm" (ngSubmit)="addLocation()" autocomplete="off">


            <div class="form-group">
                <mat-form-field appearance="fill" class="select-form">
                    <mat-label>Select country</mat-label>
                    <mat-select [formControl]="locationForm.controls['country']">
                        <mat-option *ngFor="let country of countries" value="{{country}}">{{country}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <app-text-input 
                [formControl]="locationForm.controls['city']"
                [label]="'City'"       
                [type]="'text'">
            </app-text-input>
            <app-text-input 
                [formControl]="locationForm.controls['address']"
                [label]="'Address'"       
                [type]="'text'">
            </app-text-input>
            <app-text-input 
                [formControl]="locationForm.controls['floor']"
                [label]="'Floor'"       
                [type]="'number'">
            </app-text-input>
            <app-text-input 
                [formControl]="locationForm.controls['apartment']"
                [label]="'Apartment'"       
                [type]="'text'">
            </app-text-input>

            <button mat-raised-button class="" [disabled]="!locationForm.valid" type="submit">Add</button>
        </form>
    </div>
</div>